@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "reset.css";
body {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.momontom-js {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.js-clock {
  margin-bottom: 30px;
}
.clock {
  font-size: 100px;
  font-weight: 700;
}
input {
  padding: 5px;
  width: 500px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid white;
}
input::placeholder {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
input:focus {
  color: white;
  font-size: 20px;
}
.js-name,
.js-greeting {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.greeting {
  display: none;
}

.btn {
  cursor: pointer;
  color: aqua;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fadeIn 1.5s linear;
}
.js-weather {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 25px;
}
.list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-top: 50px;
}
